<h2>Client side simple data grid example.</h2>
<div>To set client side operations in datagrid, add <b>columns</b> and <b>datasource</b> in grid defination.</div>
<div><b>datasource</b> is typeof <b>BehaviorSubject< DataSource ></b>.</div>
<div>Retrive all data and pass those data to behaviourSubject with next method.</div>
<div><b>DataSource</b> has below properties:</div>
<ul>
    <li><b>data</b> (Array of data)</li>
    <li><b>total</b> (Only required in server side operations, for client side pass 0)</li>
    <li><b>summary</b> (Pass summary data object if isShowSummary is set to true)</li>
    <li><b>isAllPages</b> (This will be used for server side export to excel functionality, default value is false)</li>
</ul>

<np-ui-data-grid [columns]="gridColumns" [dataSource]="gridDataSource">
</np-ui-data-grid>