.color-red {
    color: red;
}


/* CSS to change desing of datagrid start CSS-1*/

.np-grid-title,
.np-toolbar,
.np-grid-header-row th,
.np-grid-header-row-filter th,
.np-pagination {
    background-color: lightblue !important;
}

.np-grid,
.np-grid-title,
.np-toolbar,
.np-grid-table th,
.np-pagination,
.np-grid-table td,
.np-icon-button,
.np-summary {
    border-color: #066b6b !important;
}

.np-icon,
.np-icon-lg {
    color: #066b6b
}

.np-grid-table tr:nth-of-type(odd) {
    background-color: aliceblue;
}

.np-grid {
    color: #066b6b !important;
}

.np-summary {
    background-color: lightcyan !important;
}


/* CSS to change desing of datagrid end CSS-1*/