/* To change data grid layout */

.color-red {
    color: #ff0000;
}

.np-ui-background, .np-grid-header-row th, .np-grid-body-row:hover td, .np-grid-control {
    background-color: #b2dfdb !important;
}

.np-grid-row-selected td, .np-grid-row-selected:hover td {
    background-color: #26a69a !important;
}

.np-grid-icon-button-lg:hover, .np-grid-icon-button:hover {
    background-color: #26a69a !important;
}

.np-grid-child-row td {
    background-color: lightgoldenrodyellow !important;
}