<header>
    <table width="100%">
        <tr>
            <td rowspan="2" width="50px">
                <a class="github-link" title="Go to github repository" target="_blank"
                    href="https://github.com/NilavPatel/np-ui-data-grid-package">
                    <img src="../assets/images/github.svg">
                </a>
            </td>
            <td rowspan="2">
                <h1>np-ui-data-grid</h1>
            </td>
            <td style="float: right;">Compatible with Angular 9 and 9+</td>
        </tr>
        <tr>
            <td style="float: right;">
                <a href="https://www.npmjs.com/package/np-ui-data-grid">www.npmjs.com/package/np-ui-data-grid</a>
            </td>
        </tr>
    </table>
</header>
<div class="main-container">
    <div class="nav">
        <ul>
            <li><a routerLink="/client-grid" routerLinkActive="active">1. Client Side</a></li>
            <li><a routerLink="/server-grid" routerLinkActive="active">2. Server Side</a></li>
            <li><a routerLink="/sorting-grid" routerLinkActive="active">3. Sorting</a></li>
            <li><a routerLink="/filter-grid" routerLinkActive="active">4. Filters</a></li>
            <li><a routerLink="/celltemplate-grid" routerLinkActive="active">5. Cell Templates</a></li>
            <li><a routerLink="/toolbar-grid" routerLinkActive="active">6. Toolbar, Column Chooser, Export</a></li>
            <li><a routerLink="/columns-grid" routerLinkActive="active">7. Column Reorder/Resize and Other</a></li>
            <li><a routerLink="/row-select-grid" routerLinkActive="active">8. Row Selection</a></li>
            <li><a routerLink="/master-detail-grid" routerLinkActive="active">9. Master-Detail</a></li>
            <li><a routerLink="/summary-grid" routerLinkActive="active">10. Summary</a></li>
            <li><a routerLink="/state-management-grid" routerLinkActive="active">11. State Management</a></li>
            <li><a routerLink="/other-grid" routerLinkActive="active">12. Other</a></li>
            <li><a routerLink="/odata-grid" routerLinkActive="active">13. OData Server Side</a></li>
            <li><a routerLink="/layout-grid" routerLinkActive="active">14. Layout Design</a></li>
            <li><a routerLink="/inside-tab-grid" routerLinkActive="active">15. Inside tab</a></li>
            <li><a routerLink="/client-grid-all" routerLinkActive="active">16. Client Side Grid Full</a></li>
            <li><a routerLink="/server-grid-all" routerLinkActive="active">17. Server Side Grid Full</a></li>
        </ul>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>