.btn-group {
    padding: 10px 0px;
}

.btn-group button {
    padding: 5px;
    margin-right: 5px;
}

.color-red {
    color: red;
}


/* CSS to change desing of datagrid start CSS-2*/

.np-grid-title,
.np-toolbar,
.np-grid-header-row th,
.np-grid-header-row-filter th,
.np-pagination {
    background-color: slategrey !important;
    color: white;
}

.np-grid,
.np-grid-title,
.np-toolbar,
.np-grid-table th,
.np-pagination,
.np-grid-table td,
.np-icon-button,
.np-summary {
    border-color: white !important;
}

.np-icon,
.np-icon-lg {
    color: white
}

.np-grid-table tbody .np-icon,
.np-grid-table tbody .np-icon-lg {
    color: slategrey
}

.np-grid-table tr:nth-of-type(odd) {
    background-color: gainsboro;
}

.np-grid {
    color: black !important;
}

.np-summary {
    background-color: gray !important;
    color: white;
}

.column-chooser-content {
    background-color: lightslategray !important;
}

.np-icon-button {
    border-radius: 5px;
}

.np-loader {
    border-top: 8px solid lightslategray !important;
}


/* CSS to change desing of datagrid end CSS-2*/