<div>
    <legend>
        <h1>2. Server side data grid example</h1>
    </legend>
    <np-ui-data-grid #serverSideGrid [columns]="gridColumns" [dataSource]="gridDataSource1" [singleSelectEnable]="true" [title]="'Server side data grid'" [showColumnChooser]="true" [enableStateStoring]="true" [showFilters]="showFilters" [isShowSummary]="true"
        [summaryTemplate]="summaryTemplate" (onSelect)="onSelectRow($event)" (onInit)="onInit()" (onAfterInit)="onAfterInit()" [allowColumnReorder]="true" [allowColumnResize]="true">
    </np-ui-data-grid>

    <div class="btn-group">
        <button type="button" (click)="getSelectedRowKeys()">Get Selected Row Keys</button>
        <button type="button" (click)="toggleFirstColumn()">Toggle 1st column</button>
        <button type="button" (click)="changeColumns()">Change Column list</button>
        <button type="button" (click)="showFilters = !showFilters">Toggle Filters</button>
        <button type="button" (click)="goToPage(2)">Go to Page 2</button>
        <button type="button" (click)="clearFilters()">Clear All Filters</button>
        <button type="button" (click)="clearSortings()">Clear All Sorting</button>
    </div>
</div>

<!-- Template for sction buttons column -->
<ng-template #actionButtonsTemplate let-row="row">
    <button (click)="onActionClick(row,'Edit', $event)">Edit</button>
    <button (click)="onActionClick(row,'Delete', $event)">Delete</button>
</ng-template>

<!-- Template for birthdate column -->
<ng-template #birthDateColumnTemplate let-row="row">
    {{row.BirthDate | date:'dd/MM/yyyy'}}
</ng-template>

<!-- Template for summary column -->
<ng-template #summaryTemplate let-summary="summary">
    <span>Total:{{summary ? summary.total : 0}}</span>
</ng-template>