.btn-group {
    padding: 10px 0px;
}

.btn-group button {
    padding: 5px;
    margin-right: 5px;
}

.color-red {
    color: red;
}


/* CSS to change desing of table start */

.np-grid-table th,
.np-pagination {
    background-color: lightblue !important;
}

.np-grid-table td {
    background-color: aliceblue !important;
}

.np-grid-table {
    color: darkslategray !important;
}

.np-grid {
    border-top: 1px solid darkslategray !important;
}

.np-grid-table {
    border-right: 1px solid darkslategray !important;
}

.np-pagination {
    border-left: 1px solid darkslategray !important;
    border-right: 1px solid darkslategray !important;
    border-bottom: 1px solid darkslategray !important;
}

.np-grid-table td,
.np-grid-table th {
    border-bottom: 1px solid darkslategray !important;
    border-left: 1px solid darkslategray !important;
}

.toolbar {
    background-color: lightblue !important;
    border-bottom: 1px solid darkslategray !important;
    border-left: 1px solid darkslategray !important;
    border-right: 1px solid darkslategray !important;
}

.np-pagination {
    border: 1px solid darkslategray;
}

.np-loader {
    border-top-color: lightblue !important;
    border-bottom-color: lightblue !important;
}

.np-grid-title {
    padding: 5px;
    font-weight: bolder;
    background-color: lightblue !important;
    border-bottom: 1px solid darkslategray !important;
    border-left: 1px solid darkslategray !important;
    border-right: 1px solid darkslategray !important;
}

.np-grid-selected td {
    background-color: linen !important;
}


/* CSS to change desing of table end */