.btn-group {
    padding: 10px 0px;
}

.btn-group button {
    padding: 5px;
    margin-right: 5px;
}

.color-red {
    color: red;
}


/* CSS to change desing of datagrid start */

.np-grid-title,
.np-toolbar,
.np-grid-header-row th,
.np-grid-header-row-filter th,
.np-pagination {
    background-color: lightblue !important;
}

.np-grid,
.np-grid-title,
.np-toolbar,
.np-grid-table th,
.np-pagination,
.np-grid-table td,
.np-icon-button {
    border-color: darkcyan !important;
}

.np-icon,
.np-icon-lg {
    fill: darkcyan
}

.np-grid-table tr:nth-of-type(odd) {
    background-color: aliceblue;
}

.np-grid {
    color: darkcyan !important;
}


/* CSS to change desing of datagrid end */