.txt-red {
    color: red !important;
}

header {
    background-color: lightgray;
    margin: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9999;
    height: 70px;
}

header h1 {
    padding: 10px;
    margin: 0px;
}

header div {
    font-size: 16px;    
    float: right;
}

header span {
    font-size: 16px;
    padding-left: 10px;
}

body {
    margin: 0px !important;
}

.content {
    margin: 10px;
    width: 100%;
}

h2 {
    margin: 5px 0px;
}

.github-link {
    padding-right: 10px;
}

.github-link img {
    height: 50px;
    width: 50px;
    vertical-align: middle;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    height: 100%;
}

.nav li a {
    display: block;
    color: #000;
    padding: 8px;
    text-decoration: none;
}

.nav li a.active {
    background-color: #4CAF50;
    color: white;
}

.nav li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.main-container {
    display: flex;
    margin-top: 70px;
}

.content .github-link img {
    height: 30px;
    width: 30px;
}