<h2>Master-Child Example</h2>
<p>To set master-child tables in data grid, create <b>&lt;ng-template&gt;</b> in HTML file and set it in <b>masterChildTemplate</b> in grid defination.</p>

<np-ui-data-grid [columns]="gridColumns" [dataSource]="gridDataSource" [masterChildTemplate]="masterChildTemplate">
</np-ui-data-grid>

<!-- Template for child section -->
<ng-template #masterChildTemplate let-row="row">
    <span><b>Name:</b>{{row.FirstName}} {{row.LastName}}</span>
    <br>
    <span><b>Age:</b>{{row.Age}} years</span>
    <br>
    <span><b>Birth Date:</b>{{row.BirthDate | date:'dd/MM/yyyy'}}</span>
</ng-template>